.login{
    width: 100vw;
    height: 100vh;
    background: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    width: 80%;
    height: 70%;
    display: flex;
}

.loginLeft,.loginRight{
    flex: 1;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
}


.logoLogin{
    font-weight: 900;
    font-size: 55px;
    color: #1775ee;
    margin-left: 0;
    margin-bottom: 10px;
}

.loginDesc{
    font-size: 22px;
    margin-right: 80px;
}


.loginBox{
    height: 390px;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
    cursor:  pointer;
}

.loginRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.errorMessage{
    color: red;
    align-self: center;
}

