/* .options{
    flex: 3;
    z-index: 999;
    position: sticky;
    top: 50px;
}

.optionsWrapper{
    padding : 20px;
}

.optionsList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.optionsListItem{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.optionsIcon{
    margin-right: 15px;
}

.optionsButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.optionsListItemText{
    color: red;
} */
.post {
    position: relative;
    z-index: 1;
  }
  
  .options {
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .optionsWrapper {
    padding: 8px 0;
  }
  
  .optionsList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .optionsListItem {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .optionsListItem:hover {
    background-color: #f5f5f5;
  }
  
  .optionsListItemText {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
  }
